html {
    height: 100%;
    box-sizing: border-box;
}

body {
    
    background: linear-gradient(0deg, rgb(34, 61, 195) 0%, rgba(253,45,45,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}